@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card-tate {
		background: rgba(255, 255, 255, 0.05);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
	.tate-color {
		background: linear-gradient(to bottom, #e74142, #e84041);
	}
}
